.row
  .col-md-6.col-md-offset-3
    .panel.panel-info
      .panel-heading
        %h3 Вход в систему
      .panel-body
        = simple_form_for :session, url: sessions_path do |f|
          = f.input :email, autofocus: true
          = f.input :password, autocomplete: "off"
          = f.input :remember_me, as: :boolean
          = f.button :submit, "Войти"
        %br
        = link_to "Войти с помощью GitHub", auth_at_provider_path(provider: :github)
        %br
        = link_to "Регистрация", sign_up_path
        %br
        = link_to "Забыли пароль?", new_reset_password_path
        %hr
        %u= "Тестовый пользователь:"
        %br
        Email: test@example.com
        %br
        Пароль: 123456
