.row
  .col-md-6.col-md-offset-3
    .panel.panel-info
      .panel-heading
        %h3 Вход в систему
      .panel-body
        = simple_form_for @user, url: sessions_path, method: :post do |f|
          = f.input :email, autofocus: true
          = f.input :password, autocomplete: "off"
          = f.button :submit
        = link_to "Регистрация", sign_up_path
