.row
  .col-md-6.col-md-offset-3
    .panel.panel-info
      .panel-heading
        %h3= t :sign_in
      .panel-body
        = simple_form_for :session, url: home_sessions_path do |f|
          = f.input :email, autofocus: true
          = f.input :password, autocomplete: "off"
          = f.input :remember_me, as: :boolean
          = f.button :submit, t(:log_in)
        %br
        = link_to t(:sign_in_with_github), home_auth_at_provider_path(provider: :github)
        %br
        = link_to t(:registration), home_sign_up_path
        %br
        = link_to t(:forgot_password), new_home_reset_password_path
        %hr
        %u= t :test_user
        %br
        Email: test@example.com
        %br
        = "#{t(:password)}: 123456"
