%ul.nav.navbar-nav.navbar-right
  %li
    = link_to "Все карточки", cards_path
  %li
    = link_to "Добавить карточку", new_card_path
  %li
    = link_to "Колоды", decks_path
  %li
    = link_to edit_profile_path do
      %span.glyphicon.glyphicon-user
      = "Профиль"
  %li
    = link_to log_out_path, method: :delete do
      %span.glyphicon.glyphicon-log-out
      = "Выйти"
