.row
  .col-md-6.col-md-offset-3
    .panel.panel-info
      .panel-heading
        %h3= t :registration
      .panel-body
        = simple_form_for @user, as: :registration, url: home_registrations_path do |f|
          = f.input :email, autofocus: true
          = f.input :password, autocomplete: "off"
          = f.input :password_confirmation, autocomplete: "off"
          = f.button :submit
        %br
        = link_to t(:registration_question), home_log_in_path
