%h3= t "All decks"
%table.table.table-striped
  %thead
    %tr
      %th= t "Name"
      %th= t "Count of cards"
      %th{ colspan: "4" }
  %tbody
    - @decks.each do |deck|
      %tr
        %td= deck.name
        %td= deck.cards.count
        %td= deck.current? ? t("Current") : link_to(t("Make current"),
                                                  set_current_deck_path(deck),
                                                  method: :put)
        %td= link_to t("Show"), deck_path(deck)
        %td= link_to t("Edit"), edit_deck_path(deck)
        %td= link_to t("Delete"), deck, method: :delete, data: { confirm: t("Are you sure?") }
= link_to t("Add deck"), new_deck_path
