.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= "Проверка знаний"
    .panel-body
      .row
        .col-md-8
          - if @card.present?
            %h4= @card.translated_text
            %br/
            = simple_form_for @card, url: reviews_path, method: :post do |f|
              = f.input :id, as: :hidden
              = f.input :answer
              = f.button :submit, "Ответить", class: "btn-info"
              = link_to "Не знаю", new_review_path, class: "btn btn-warning"
          - else
            %p
              Непроверенных карточек нет
