.col-md-8.col-md-offset-2
  .panel.panel-primary
    .panel-heading
      %h3= t "Check of knowledge"
    .panel-body
      .row
        .col-md-8
          - if @card.present?
            %h4= @card.translated_text
            = image_tag @card.image.url
            %br
            %br
            = simple_form_for @card, as: :review, url: reviews_path, method: :post do |f|
              = hidden_field_tag "review[card_id]", @card.id
              = label_tag "review[answer]", t("Translate it")
              = text_field_tag "review[answer]", nil, autocomplete: "off",
                class: "form-control"
              %br
              = f.button :submit, t("Send answer"), class: "btn-info"
              = link_to t("I don't know"), new_review_path, class: "btn btn-warning"
          - else
            %p= t "No cards"
