!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equip" => "Content-Type"}
    %title= t "site_name"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    = render "shared/header"
    %section#container
      .row#flash
        = render "shared/flash"
      %header.clearfix
        %h1= t "site_name"
      %section
        = yield
